@model Fantasy_Football.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            User
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Players.Count > 0)
    {
    <h4>Players</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Position</th>
        </tr>
        @foreach(var player in Model.Players)
        {
        <tr>
            <td>@player.Name</td>
            <td>@player.Position</td>
        </tr>
        }
    </table>
    }
    else
    {
        <p>This Team has no players</p>

    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
