@model Fantasy_Football.Models.League

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>League</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>
    </dl>
    <h3>Teams:</h3>
    <a asp-area="" asp-controller="Teams" asp-action="Create">Create Team</a>
    <ul>
        @if(Model.Teams.Count < 1)
        {
           <li>No Teams Have been Added yet!. <a asp-area="" asp-controller="Teams" asp-action="Create">Click Here</a> to add one.</li>

        }
        else
        {
                @foreach (var team in Model.Teams)
                {
                    <li><a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name</a></li>
                }

        }
        
       
        
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
